.bonito {
  word-spacing: 15px;
  color: blueviolet;
}

.colegio {
  margin-left: 500px;
}

.Este {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
}

.span {
  size: 55px;
}
