.bonito {
  word-spacing: 15px;
  color: blueviolet;
}

.colegio {
  margin-left: 500px;
}

.Este {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
}

.span {
  size: 55px;
}

.colegio-1 {
  font-size: 35px;
  font-family: "Edu NSW ACT Foundation", cursive;
}

.color {
  font-family: "Allan", serif;
  font-style: normal;
}

.mapa {
  margin-left: 700px;
  font-size: 35px;
  font-family: "Edu NSW ACT Foundation", cursive;
}
